.slider{
    width: 80%;
    margin: 0 auto;
    position: static;
}
.slider img{
  margin-top: 10px;
  height: 500px;  
  width: 100%;
  position: static;
}
#prev img{
  margin-top: 240px;
  width: 40px;
  height: 40px;
  position: absolute;
}
#next img{
  margin-top: 240px;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -40px;
}