.slider{
    width: 80%;
    margin: 0 auto;
    position: static;
}
.slider img{
  margin-top: 10px;
  height: 500px;  
  width: 100%;
  position: static;
}
#prev img{
  margin-top: 240px;
  width: 40px;
  height: 40px;
  position: absolute;
}
#next img{
  margin-top: 240px;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -40px;
}
.main{
  width: 1300px;
  margin: auto;  
  height: 100%;
}
.main_left{
  width: 830px;
  float: left;
}
.slide{
  width: 800px;
  float: left;
}
.slide-top img{
  width: 100%;
  height: 450px;
}
.slide-botton p{
  height: 130px;
  overflow: hidden;
  display: flex;
}
.slide-botton p img{
  height: 130px;
  width: calc(100%/5);
  padding: 5px;
}
.slide-botton p img:hover{
  border: solid red 3px;
  cursor: pointer;
}
.infor_top{
  border: solid 1px black;
  height: 100px;
}
.line1{
  display: flex;
  padding: 20px;
}
.line1 p{
  width: calc(100%/3);
}
.line2{
  display: flex;
  padding-left: 20px;
}
.line2 p{
  width: calc(100%/3);
}
.main_right{
  width: 470px;
  float: left;  
  border: solid 1px gray;
}
.describe{
  border-bottom: solid 1px gray;
}
.infor_botton h3{
  border-bottom: 5px solid blue;
  width: 50px;
}