body{
    padding: 10px;
    background-color: rgb(247, 239, 220);
}
.photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: -50px;
}
.content{
    column-count: 5;
    margin-top: 20px;
}
.photo p{
    display: flex;
}